@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --clr-neutral-100: #eeeeee;
  --clr-neutral-800: #393e46;
  --clr-neutral-900: #021d1e;

  --clr-primary-400: #70908b;
  --clr-primary-600: #07484a;

  --clr-secondary-100: #caf3e5;
  --clr-secondary-200: #e0eff6;
  --clr-secondary-300: #eeebff;
  --clr-secondary-400: #fff4e7;
  --clr-secondary-500: #fdfbf8;

  --ff-base: "Open Sans", sans-serif;
  --ff-accent: "Playfair Display", serif;
}

.main-inline-mw {
  margin-inline: auto;
  max-width: 1480px;
  padding: 32px;
}

.heading {
  color: var(--clr-primary-600);
  font-weight: bold;
  font-family: var(--ff-accent);
  font-size: 36px;

  h4& {
    font-family: var(--ff-base);
    font-size: 18px;
  }

  &[data-type="light"] {
    font-weight: lighter;
  }
}

.button {
  border: none;
  font-family: var(--ff-base);
  border-radius: 6px;
  padding: 0.8rem 1.4rem;
  color: var(--clr-neutral-100);
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--clr-primary-400);

  &:hover,
  &:focus {
    background-color: var(--clr-primary-600);
  }
}

.btn-icon {
  padding-left: 8px;
}
